/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header ,#report-form{
  margin-top: 0;
  font-size:17px;
  color: #777;
font-weight: bold;
border-bottom: 1px solid #eaeaea;;
background: #ecf0f1;


}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
#content-container{
  /*  background-color: #ecf0f1;
border-right: 1px solid #eee;
    width: 98%;
    margin: 1%;
    float: left;
    padding:2%;*/
}
#choose-path{
  text-align:center;
  padding:5%;
}
#choose-path h1{
  margin:5%;
}
#choose-path button{
  padding:4%;
  font-size:x-large;
}
.user-panel {
    padding: 10px;
    margin-top:-9%;
    /* background:#333; */
    }

.user-panel:before,.user-panel:after {
    content: " ";
    display: table
}

.user-panel:after {
    clear: both
}

.user-panel>.image>img {
    width: 45px;
    height: 45px
}

.user-panel>.info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1
}

.user-panel>.info>p {
    margin-bottom: 9px
;
    color: #fff;
}

.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
    font-weight: normal
}

.user-panel>.info>a>.fa,.user-panel>.info>a>.ion,.user-panel>.info>a>.glyphicon {
    margin-right: 3px
}
/*
#mini-bar{
    width: 100px;

}
#mini-bar .sidebar-label{
    display: none !important;
}
#mini-bar .typcn{
    font-weight: lighter !important;
    font-size: 30px;
    text-align: center;
}*/